@using CarRepair.Services
@using CarRepair.Models
@using Newtonsoft.Json
@rendermode InteractiveServer
@inject RepairService RepairService
@inject RecordRepair RecordRepair

<h3>Record</h3>

@foreach (RepairModel rep in RepairService.ServicesPage)
{
    <div class="block">
        <div class="block-img">
            <img class="image" src="image/Repair.png"/>
            <div class="block-text">
                <div class="text-header">
                    @rep.ServiceTitle
                    <div class="text">
                        @rep.ServiceText
                        @* <label for="Record">Выберите дату записи:</label> *@
                        @* <input type="date" id="Record" @bind="RecordRepair._newRecordPage.DateTimeRecord"> *@
                        <br/>Стоимость: @rep.Price ₽

                    </div>
                </div>
            </div>
        </div>
    </div>
}

@code {

    protected override void OnInitialized()
    {
        RepairService.OpenFile();
    }

}