                           @*  Услуги  *@ 
@page "/RepairPage"
@using CarRepair.Services
@using CarRepair.Models
@using Newtonsoft.Json
@rendermode InteractiveServer
@inject RepairService RepairService

<h3>Услуги</h3>
@foreach (RepairModel rep in RepairService.ServicesPage)
{
    <div class="Repair-blocks">
     <div class="block">
            <div class="block-img">
                <img class="image" src="image/Repair.png"/>
                <div class="block-header">
                    <img class="block-avatar" src="image/Repair.png"/>
                    <div class="header-text">Trendamoda<br> 289,9 тыс читали • 3 месяца назад<br/>
                    </div>
                </div>
                <div class="block-text">
                    <div class="text-header"> ВЫ ТОЖЕ ТАК УСТАЛИ? Легендарный Пудж теперь на вашей футболке!
                        <div class="text"> Забудьте скучные и серые футболки — теперь ваш стильный образ станет не только модным, но и эпическим! Представляем футболку с классическим Пуджом из Dota 2...
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

@code {
    
    protected override void OnInitialized()
    {
        RepairService.OpenFile();
    }
}