                           @*  Услуги  *@ 
@page "/RepairPage"
@using CarRepair.Services
@using CarRepair.Models
@using Newtonsoft.Json
@rendermode InteractiveServer
@inject RepairService RepairService

<h3>Услуги</h3>

@code {
    
    public IList<RepairModel> ServicesPage = new List<RepairModel>();
    private RepairModel _newServicesPage = new RepairModel();
    const string path = "ServisecPage.json";
    
    protected override void OnInitialized()
    {
        OpenFile();
    }
    public void OpenFile()
    {
        if (File.Exists(path))
        {
            var json = File.ReadAllText(path);
            ServicesPage = JsonConvert.DeserializeObject<List<RepairModel>>(json)!;
        }
        else
        {
            SaveFile();
        }
    }

    public void SaveFile()
    {
        var json = JsonConvert.SerializeObject(ServicesPage);
        File.WriteAllText(path, json);
    }

}