@*  Услуги  *@
@page "/RepairPage"
@using CarRepair.Services
@using CarRepair.Models
@using Newtonsoft.Json
@rendermode InteractiveServer
@inject RepairService RepairService
@inject NavigationManager NavigationManager
@inject ClientRepair ClientRepair

<h3>Услуги</h3>
<input class="client-name" type="text" @bind="RepairService._newServicesPage.ServiceTitle" placeholder="Название услуги"/>
<textarea class="client-text" type="text" @bind="RepairService._newServicesPage.ServiceText" placeholder="Описание услуги"> </textarea>
<input class="client-name" type="text" @bind="RepairService._newServicesPage.Price" placeholder="Стоимость услуги"/>
<button @onclick="RepairService.ServiceAdd" class="sub-btn">Добавить Услугу</button>
<div class="Repair-blocks">
    <div class="block">
        <div class="block-img">
            <img class="image" src="image/Repair.png"/>
            <div class="block-text">
                <div class="text-header">
                    Полировка
                    <div class="text">
                        Отпалируем ваш Авто до блеска
                        <br/>Стоимость: 10000₽
                        <div class="text-footer">
                            <button class="btn-record"  @onclick="RecordAdd">Записаться</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    @foreach (RepairModel rep in RepairService.ServicesPage)
    {
        <div class="block">
            <div class="block-img">
                <img class="image" src="image/Repair.png"/>
                <div class="block-text">
                    <div class="text-header">
                        @rep.ServiceTitle
                        <div class="text">
                            @rep.ServiceText
                            <br/>Стоимость: @rep.Price ₽
                            <div class="text-footer">
                                <button class="btn-record" @onclick="RecordAdd">Записаться</button>
                                <button @onclick="() => RepairService.RemoveServise(rep)" class="btn-record">Удалить</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>

@code {
    public string text { get; set; } = "/Client";

    public void RecordAdd()
    {
        NavigationManager.NavigateTo(text);
    }

    protected override void OnInitialized()
    {
        RepairService.OpenFile();
    }

}